doctype html
html
    head
        title StepQuest ID
        style
            include style.css
    body
        #id.pid
            h1 Player ID Stored: #{pid}
            h2 Please return to StepQuest and press Retry button

